$white: #fff;
$black: #000;
$seashell: #f5ece6;
$linen: #faf8f0;
$grey: #f8faf9;
$dark-grey: #484848;
$cornsilk: #efe8d1;

@mixin transition($element: all, $time: 0.2s, $function: linear) {
  transition: $element $time $function;
}
.pos-center {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
@mixin gradient($origin: left, $start: #ffffff, $stop: #000000) {
  background: $start;
  background: -webkit-linear-gradient($origin, $start, $stop);
  background: -moz-linear-gradient($origin, $start, $stop);
  background: -o-linear-gradient($origin, $start, $stop);
  background: -ms-linear-gradient($origin, $start, $stop);
  background: linear-gradient($origin, $start, $stop);
}
.text-center {
  text-align: center;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  margin: 0 -15px;

  & > * {
    margin: 15px;

    .flex-container {
      margin: -15px;

      & > * {
        margin: 15px;
      }
    }
  }
  &.direction-column {
    flex-direction: column;
  }
  &.align-stretch {
    align-items: stretch;
  }
  &.align-start {
    align-items: flex-start;
  }
  &.align-center {
    align-items: center;
  }
  &.justify-between {
    justify-content: space-between;
  }
  &.justify-around {
    justify-content: space-around;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-end {
    justify-content: flex-end;
  }
}
@mixin bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
