@import "./src/assets/scss/mixin.scss";

.testimonials {
  .main-testimonials {
    text-align: center;
    padding: 79px 0 70px 10px;
    padding-bottom: 30px;

    h1 {
      padding-bottom: 17px;
    }

    p {
      font-size: 18px;
      letter-spacing: 1px;
    }

    .item {
      padding-top: 38px;

      p {
        padding-top: 17px;
      }
    }

    .slider-photographer {
      padding: 0 200px;
      .item {
        cursor: pointer;
      }
      img {
        width: 79px;
        height: 79px;
        border-radius: 50%;
        margin: 0 auto;
      }

      p {
        opacity: 0;
        white-space: nowrap;
      }
    }

    .slider-text {
      .item {
        padding-top: 28px;
        img {
          max-height: 320px;
          width: 100%;
          object-fit: cover;
          max-width: 922px;
          margin: 0 auto;
        }
        .flex {
          background: $seashell;
          padding: 66px;
          max-width: 924px;
          margin: 0 auto;
          h4 {
            font-family: "cormorantlight", sans-serif;
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
    }

    .slick-center {
      img {
        width: 108px;
        height: 108px;
        margin: 0 auto;
      }

      p {
        opacity: 1;
      }
    }

    .slick-arrow {
      display: none !important;
    }
  }

  .reviews {
    padding: 42px 0 3px 10px;
    .center {
      max-width: 972px;
      padding: 0 50px;
    }
    .flex-half {
      & > * {
        flex: 1 1 30%;
      }
    }
    .item {
      text-align: center;
      padding: 40px 31px;
      padding-top: 61px;
      margin: 35px 40px;
      position: relative;
      min-height: 310px;

      img {
        width: 79px;
        height: 79px;
        border-radius: 50%;
        margin: 0 auto;
        position: absolute;
        z-index: 3;
        top: -40px;
        left: 180px;
      }

      h4 {
        font-size: 20px;
        padding-top: 5px;
      }
    }
    .exclusive {
      max-height: 300px;
    }
    p {
      font-family: "cormorantlight", sans-serif;
      font-size: 18px;
      position: relative;
      padding: 0 15px;
      padding-bottom: 50px;
      line-height: 22px;

      &:before {
        content: "“";
        position: absolute;
        z-index: 5;
        height: 100%;
        font-size: 30px;
        font-family: "cormorantitalic", sans-serif;
        font-weight: 600;
        top: 5px;
        left: 10px;
      }

      span {
        font-size: 25px;
        font-family: "cormorantitalic", sans-serif;
        font-weight: 600;
      }
    }
    .item:first-child,
    .item:nth-child(2),
    .item:nth-child(3) {
      background: #faf8f2;
    }
    .item__last {
      flex: 1 1 100%;
      margin-top: 20px;
      padding: 40px 11px;
      padding-top: 61px;
      img {
        left: auto;
      }
      p {
        padding: 0 55px;
        padding-bottom: 22px;
        line-height: 20px;
      }
      h4 {
        left: auto;
        width: 95%;
        font-family: "bw_vivantregular", sans-serif;
        font-size: 10px;
        line-height: 14px;
      }
    }
  }

  .form {
    display: grid;
    padding: 100px 50px 74px;
    .center {
      max-width: 905px;
    }
    .flex {
      align-items: center;
      & > * {
        margin: 0;
      }
    }
    .photo {
      max-width: 326px;
      min-height: 438px;
      margin-right: 79px;
      img {
        max-width: 326px;
        min-height: 420px;
      }
    }
  }

  .trial {
    display: none;
  }

  .follow {
    padding: 38px 0 31px;
  }

  @media screen and (max-width: 1200px) {
    .main-testimonials {
      .slider-photographer {
        padding: 0 150px;
      }
    }
  }

  @media screen and (max-width: 1079px) {
    .main-testimonials {
      .slider-photographer {
        padding: 0;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .flex-half {
      margin: 0;
    }

    .reviews {
      .item {
        margin: 25px;
        padding: 20px;
        padding-top: 50px;
      }
    }
  }

  @media screen and (max-width: 900px) {
    .main-testimonials {
      padding: 79px 0 70px;
    }
    .reviews {
      .center {
        padding: 0;
      }
      .item {
        margin: 35px 0;
        img {
          left: 0;
          right: 0;
        }
      }
      .exclusive {
        max-height: 350px;
      }
      .item__last {
        padding: 20px;
        img {
          left: 0;
          right: 0;
        }
      }

      p {
        &:before {
          left: 0;
        }
      }
    }
  }

  @media screen and (max-width: 770px) {
    .main-testimonials {
      .slider-text {
        .item {
          .flex {
            padding: 30px 50px;
          }
        }
      }
    }
    .reviews {
      .item {
        margin: 25px 15px;
      }
    }

    .form {
      padding: 0;
      margin-top: 50px;
      h2 {
        font-size: 37px;
      }
      .photo {
        margin-right: 0;
        img {
          display: block;
        }
      }
      .text {
        padding: 0 20px;
        margin-right: 20px;
      }
    }

    .trial {
      display: grid;
      padding: 50px 15px;
    }
  }

  @media screen and (max-width: 650px) {
    .main-testimonials {
      .slider-text {
        .item {
          .flex {
            padding: 30px 25px;
            & > * {
              margin: 0;
            }
          }
        }
      }
      h1 {
        font-size: 38px;
      }
    }

    .reviews {
      padding: 0;
      .flex-half {
        & > * {
          flex: 1 1 50%;
        }
      }
      .item {
        position: relative;
        margin: 40px 15px;
        padding: 10px;
        padding-top: 50px;
        min-height: 100%;
        &:nth-child(odd) {
          background-color: $seashell;
        }
        &:nth-child(even) {
          background: $cornsilk;
        }
      }
      .exclusive {
        max-height: 100%;
      }
      img {
        left: 0;
        right: 0;
      }
      .item__last {
        p {
          padding: 0;
          padding-bottom: 50px;
          font-size: 20px;
        }
      }
    }

    .form {
      .center {
        padding: 0;
      }
      .flex {
        flex-direction: column;
        margin: 0;
      }
      .photo {
        min-width: 100%;
        img {
          object-fit: cover;
          min-width: 100%;
        }
      }
      .text {
        text-align: center;
        padding: 30px;
        margin-right: 0;
      }
      input {
        text-align: center;
      }
      .aside {
        justify-content: center;
      }
      h2:nth-child(2) {
        font-size: 31px;
        font-family: "cormorantitalic", sans-serif;
        line-height: 38px;
        margin-top: 25px;
      }
    }
  }
}
